<!DOCTYPE html>
<html lang="en-us">
{% include header.html %}
   <body>
	<div class="site-wrap">
		
		
		<header class="site-header px2 px-responsive">
		  <div class="mt2 wrap">
		      <div class="right"><h1><a href="{{ site.baseurl }}">3D Modeling, Rendering, and Animation</a></h1></div>
		      {% include nav.html %}
		      <div class="clearfix"></div>
		  </div>
		</header>

		<section class="page-header site-header px2 px-responsive">
		   <div class="measure">
			   <h1 class="page-title">{{ page.title }}</h1>
			   <h2 class="page-subtitle">{{ page.subtitle }}</h2>
			</div>
		</section>

		<section class="main-content p2 p-responsive wrap">
		   <div class="measure">
		   	{{ content }}
		   </div>
		</section>
    </div>
		
	<footer class="site-footer center">
	   <div>
		   	<a href="https://github.com/michael-collins/3d-digital-art-and-design--oer" class="btn">View on GitHub</a><span> | </span>
		   <a href="https://github.com/michael-collins/3d-digital-art-and-design--oer/zipball/master" class="btn">Download .zip</a><span> | </span>
		   <a href="https://github.com/michael-collins/3d-digital-art-and-design--oer/tarball/master" class="btn">Download .tar.gz</a>
	   </div>
	   <div>
	   	{% include license.html %}
	   </div>
	</footer>
	
  </body>
</html>
